In [3]:
# importing libraries
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, Ridge
from sklearn.svm import LinearSVR, SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor

from sklearn.model_selection import GridSearchCV

In [5]:
# reading the file
data = pd.read_csv('/content/data/Concrete_Data_Yeh.csv')

In [6]:
data

      cement   slag  flyash  water  ...  coarseaggregate  fineaggregate  age  csMPa
0      540.0    0.0     0.0  162.0  ...           1040.0          676.0   28  79.99
1      540.0    0.0     0.0  162.0  ...           1055.0          676.0   28  61.89
2      332.5  142.5     0.0  228.0  ...            932.0          594.0  270  40.27
3      332.5  142.5     0.0  228.0  ...            932.0          594.0  365  41.05
4      198.6  132.4     0.0  192.0  ...            978.4          825.5  360  44.30
...      ...    ...     ...    ...  ...              ...            ...  ...    ...
1025   276.4  116.0    90.3  179.6  ...            870.1          768.3   28  44.28
1026   322.2    0.0   115.6  196.0  ...            817.9          813.4   28  31.18
1027   148.5  139.4   108.6  192.7  ...            892.4          780.0   28  23.70
1028   159.1  186.7     0.0  175.6  ...            989.6          788.9   28  32.77
1029   260.9  100.5    78.3  200.6  ...            864.5          761.5   28  32.40

[1030 rows x 9 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cement            1030 non-null   float64
 1   slag              1030 non-null   float64
 2   flyash            1030 non-null   float64
 3   water             1030 non-null   float64
 4   superplasticizer  1030 non-null   float64
 5   coarseaggregate   1030 non-null   float64
 6   fineaggregate     1030 non-null   float64
 7   age               1030 non-null   int64
 8   csMPa             1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [8]:
data

      cement   slag  flyash  water  ...  coarseaggregate  fineaggregate  age  csMPa
0      540.0    0.0     0.0  162.0  ...           1040.0          676.0   28  79.99
1      540.0    0.0     0.0  162.0  ...           1055.0          676.0   28  61.89
2      332.5  142.5     0.0  228.0  ...            932.0          594.0  270  40.27
3      332.5  142.5     0.0  228.0  ...            932.0          594.0  365  41.05
4      198.6  132.4     0.0  192.0  ...            978.4          825.5  360  44.30
...      ...    ...     ...    ...  ...              ...            ...  ...    ...
1025   276.4  116.0    90.3  179.6  ...            870.1          768.3   28  44.28
1026   322.2    0.0   115.6  196.0  ...            817.9          813.4   28  31.18
1027   148.5  139.4   108.6  192.7  ...            892.4          780.0   28  23.70
1028   159.1  186.7     0.0  175.6  ...            989.6          788.9   28  32.77
1029   260.9  100.5    78.3  200.6  ...            864.5          761.5   28  32.40

[1030 rows x 9 columns]

In [9]:
# Preprocessing the data
def preprocess_inputs(df):
    df = df.copy()
    
    y = df['csMPa'].copy()
    X = df.drop('csMPa', axis=1).copy()
    
    
    
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=123)
    
    
    # Scale X with a standard scaler
    scaler = StandardScaler()
    scaler.fit(X_train)
    
    X_train = pd.DataFrame(scaler.transform(X_train), columns=X_train.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)
    
    return X_train, X_test, y_train, y_test