<a href="https://colab.research.google.com/github/BlitzenPrancer/Concrete-Strength-Prediction/blob/main/Concrete_Strength_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# importing libraries
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, Ridge
from sklearn.svm import LinearSVR, SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor

from sklearn.model_selection import GridSearchCV

In [9]:
# reading the file
data = pd.read_csv('/content/drive/MyDrive/csv files/Concrete_Data_Yeh.csv')

In [10]:
data

      cement   slag  flyash  water  ...  coarseaggregate  fineaggregate  age  csMPa
0      540.0    0.0     0.0  162.0  ...           1040.0          676.0   28  79.99
1      540.0    0.0     0.0  162.0  ...           1055.0          676.0   28  61.89
2      332.5  142.5     0.0  228.0  ...            932.0          594.0  270  40.27
3      332.5  142.5     0.0  228.0  ...            932.0          594.0  365  41.05
4      198.6  132.4     0.0  192.0  ...            978.4          825.5  360  44.30
...      ...    ...     ...    ...  ...              ...            ...  ...    ...
1025   276.4  116.0    90.3  179.6  ...            870.1          768.3   28  44.28
1026   322.2    0.0   115.6  196.0  ...            817.9          813.4   28  31.18
1027   148.5  139.4   108.6  192.7  ...            892.4          780.0   28  23.70
1028   159.1  186.7     0.0  175.6  ...            989.6          788.9   28  32.77
1029   260.9  100.5    78.3  200.6  ...            864.5          761.5   28  32.40

[1030 rows x 9 columns]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cement            1030 non-null   float64
 1   slag              1030 non-null   float64
 2   flyash            1030 non-null   float64
 3   water             1030 non-null   float64
 4   superplasticizer  1030 non-null   float64
 5   coarseaggregate   1030 non-null   float64
 6   fineaggregate     1030 non-null   float64
 7   age               1030 non-null   int64
 8   csMPa             1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [12]:
data

      cement   slag  flyash  water  ...  coarseaggregate  fineaggregate  age  csMPa
0      540.0    0.0     0.0  162.0  ...           1040.0          676.0   28  79.99
1      540.0    0.0     0.0  162.0  ...           1055.0          676.0   28  61.89
2      332.5  142.5     0.0  228.0  ...            932.0          594.0  270  40.27
3      332.5  142.5     0.0  228.0  ...            932.0          594.0  365  41.05
4      198.6  132.4     0.0  192.0  ...            978.4          825.5  360  44.30
...      ...    ...     ...    ...  ...              ...            ...  ...    ...
1025   276.4  116.0    90.3  179.6  ...            870.1          768.3   28  44.28
1026   322.2    0.0   115.6  196.0  ...            817.9          813.4   28  31.18
1027   148.5  139.4   108.6  192.7  ...            892.4          780.0   28  23.70
1028   159.1  186.7     0.0  175.6  ...            989.6          788.9   28  32.77
1029   260.9  100.5    78.3  200.6  ...            864.5          761.5   28  32.40

[1030 rows x 9 columns]

In [13]:
# Preprocessing the data
def preprocess_inputs(df):
    df = df.copy()
    
    y = df['csMPa'].copy()
    X = df.drop('csMPa', axis=1).copy()
    
    
    
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=123)
    
    
    # Scale X with a standard scaler
    scaler = StandardScaler()
    scaler.fit(X_train)
    
    X_train = pd.DataFrame(scaler.transform(X_train), columns=X_train.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)
    
    return X_train, X_test, y_train, y_test

In [14]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [15]:
X_train

       cement      slag    flyash  ...  coarseaggregate  fineaggregate       age
0   -0.858785  2.415833 -0.847354  ...        -0.549031      -0.704369 -0.677267
1   -0.649654  0.257904 -0.463043  ...         1.203924       0.179163  0.174174
2    0.273206 -0.856855 -0.847354  ...         0.508920       0.745693  1.202330
3    0.551408 -0.856855 -0.847354  ...         1.126701      -0.221864 -0.275644
4    1.107810 -0.856855 -0.847354  ...         0.877014      -0.472665 -0.613008
..        ...       ...       ...  ...              ...            ...       ...
716  0.944727  0.222677 -0.847354  ...        -0.520716      -2.258826  2.166226
717  0.896761 -0.856855 -0.847354  ...         0.843551      -0.170940 -0.275644
718  1.039699  1.290846 -0.847354  ...        -0.357261      -0.198948 -0.613008
719  1.376418  0.351085 -0.847354  ...        -0.469234       0.410867 -0.613008
720  0.777806  1.290846 -0.847354  ...        -0.357261      -0.198948 -0.613008

[721 rows x 8 columns]

In [16]:
y_train

666    12.79
237    47.13
725    38.70
802    31.65
568    25.45
       ...
47     40.76
638    38.21
113    59.09
96     46.80
106    55.90
Name: csMPa, Length: 721, dtype: float64

In [17]:
# Model Selection
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.svm import LinearSVR, SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor

In [18]:
models = {
    "                     Linear Regression": LinearRegression(),
    "                 L2 (Ridge) Regression": Ridge(),
    "Support Vector Machine (Linear Kernel)": LinearSVR(),
    "   Support Vector Mahcine (RBF Kernel)": SVR(),
    "                         Decision Tree": DecisionTreeRegressor(),
    "                        Neural Network": MLPRegressor(),
    "                         Random Forest": RandomForestRegressor(),
    "                     Gradient Boosting": GradientBoostingRegressor(),
    "                              AdaBoost": AdaBoostRegressor()
}

for name, model in models.items():
    model.fit(X_train, y_train)
    print(name + " trained.")

                     Linear Regression trained.
                 L2 (Ridge) Regression trained.
Support Vector Machine (Linear Kernel) trained.
   Support Vector Mahcine (RBF Kernel) trained.
                         Decision Tree trained.

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

                        Neural Network trained.
                         Random Forest trained.
                     Gradient Boosting trained.
                              AdaBoost trained.

In [19]:
for name, model in models.items():
    print(name + " R^2: {:.5f}".format(model.score(X_test, y_test)))

                     Linear Regression R^2: 0.60111
                 L2 (Ridge) Regression R^2: 0.60097
Support Vector Machine (Linear Kernel) R^2: 0.56945
   Support Vector Mahcine (RBF Kernel) R^2: 0.63459
                         Decision Tree R^2: 0.83673
                        Neural Network R^2: 0.41795
                         Random Forest R^2: 0.89648
                     Gradient Boosting R^2: 0.90689
                              AdaBoost R^2: 0.80785

In [20]:
# optimizing the model
best_model = GradientBoostingRegressor()
best_model.fit(X_train, y_train)

print("Model R^2 (Before Optimization): {:.5f}".format(best_model.score(X_test, y_test)))

Model R^2 (Before Optimization): 0.90682

In [21]:
params = {
    'learning_rate': [0.01, 0.1, 1.0],
    'n_estimators': [100, 150, 200],
    'max_depth': [3, 4, 5]
}

clf = GridSearchCV(best_model, params)
clf.fit(X_train, y_train)

clf.best_params_

{'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 200}

In [22]:
print("Model R^2 (After Optimization): {:.5f}".format(clf.score(X_test, y_test)))

Model R^2 (After Optimization): 0.92832

In [24]:
X_predict = list(best_model.predict(X_test))
predicted_df = {'predicted_values': X_predict, 'original_values': y_test}
pd.DataFrame(predicted_df).head(20)

      predicted_values  original_values
134          67.790518            71.30
13           48.122631            42.33
996          28.262729            26.86
770          14.500377            14.99
937          39.170965            36.80
98           47.979005            55.60
701          48.512167            50.53
527          41.307554            35.75
560          30.451927            25.75
656          10.541996            11.41
138          56.467825            49.90
841          34.083055            30.12
379          64.706718            67.57
672          10.322981             6.94
751          51.374628            52.61
1028         37.408903            32.77
343          52.376664            56.74
852          33.092689            42.64
932          28.837065            24.34
203          38.356580            40.57